* text=auto

*.dart text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.swift text eol=lf
*.cc text eol=lf
*.h text eol=lf
*.cmake text eol=lf

macos/** linguist-vendored
windows/** linguist-vendored
linux/** linguist-vendored
web/** linguist-vendored
build/** linguist-vendored

.dart_tool/** linguist-generated
.flutter-plugins-dependencies linguist-generated